.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s linear 1s;

}
p{
    font-size: 35px;
    background: #13a82ce9;

}
.box:hover{
    /* transform: rotate(45deg); */
    /* for change in size use transform scale */
    /* transform: scale(2); */
    /* for movement of object use translate */
    /* transform: translate(300px,250px); */
    transform: skew(-45deg) ;

}